name: Bot Runner

on:
  schedule:
    - cron: '0 */6 * * *' # يعاود يديماري كل 6 سوايع باش ما يحبسش
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: x-actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Bot
        run: python bot.py
